.img-fluid{
    width: 290px;
    height: 290px;
}
.blog-card{
    border: 1px solid cyan;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    background-color: transparent;
}
.blog-card h3{
    color: white;
}
.blog-card p{
    color: white;
}