@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
.career-banner{
  position:relative;
  height:100vh;
  overflow:hidden;
}

.career-img{
  width:100%;
  height:100%;
  object-fit:cover;
}

.career-banner::before{
  content:"";
  position:absolute;
  inset:0;
  background:rgba(0,0,0,0.55);
}

.career-overlay{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  text-align:center;
  color:#fff;
  z-index:2;
  width:80%;
}

.career-overlay h1{
  font-size:70px;
  font-weight:bold;
  font-family: 'Roboto', sans-serif;
}

.career-overlay p{
  font-size:26px;
  line-height:1.6;
  font-family: 'Roboto', sans-serif;
}

h2{
  font-weight:700;
  margin-bottom:20px;
  font-family: 'Roboto', sans-serif;
}

ul{
  padding-left:20px;
}

ul li{
  margin-bottom:10px;
  font-size:18px;
}

.apply-btn{
    font-family: 'Roboto', sans-serif;
  padding:12px 30px;
  border:none;
  background:#f0c400;
  color:#000;
  font-weight:bold;
  border-radius:6px;
  margin-top:20px;
}

.apply-btn:hover{
  background:#ddb300;
}

@media(max-width:768px){

  .career-banner{
    height:70vh;
  }

  .career-overlay h1{
    font-size:38px;
  }

  .career-overlay p{
    font-size:16px;
  }

}

/*Applay now section*/

.career-video{
  width:100%;
  height:400px;
  object-fit:cover;
  border-radius:12px;
  transition:0.5s ease;
}

.career-video:hover{
  transform:scale(1.03);
  box-shadow:0 15px 35px rgba(0,0,0,0.25);
}

@media(max-width:768px){

  .career-video{
    height:250px;
  }

}
