*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, sans-serif;
}

.contact-page{
  min-height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  padding:40px 20px;
 background: transparent;
}

.contact-box{
  width:100%;
  max-width:650px;
  backdrop-filter:blur(12px);
  border-radius:25px;
  padding:35px;
}

.contact-box h1{
  text-align:center;
  color:#fff;
  font-size:38px;
  margin-bottom:10px;
}

.contact-box p{
  text-align:center;
  color:#f1f1f1;
  margin-bottom:25px;
  font-size:16px;
}

form{
  display:flex;
  flex-direction:column;
  gap:15px;
}

input,
select,
textarea{
  width:100%;
  padding:14px 16px;
  border:none;
  outline:none;
  border-radius:14px;
  font-size:16px;
  background:#fff;
  color:#333;
}

input:focus,
select:focus,
textarea:focus{
  box-shadow:0 0 0 3px rgba(255,255,255,0.35);
}

textarea{
  resize:none;
  min-height:110px;
}

button{
  background:#ebc139;
  color:#fff;
  border:none;
  padding:14px;
  font-size:18px;
  font-weight:700;
  border-radius:14px;
  cursor:pointer;
  transition:0.3s;
}

button:hover{
  transform:translateY(-3px);
  background:#d4aa26;
  box-shadow:0 10px 20px rgba(0,0,0,0.2);
}

/* Tablet */
@media(max-width:768px){

  .contact-box{
    padding:25px;
  }

  .contact-box h1{
    font-size:30px;
  }

  .contact-box p{
    font-size:15px;
  }

  input,
  select,
  textarea{
    font-size:15px;
    padding:12px 14px;
  }

  button{
    font-size:16px;
    padding:12px;
  }
}

/* Mobile */
@media(max-width:480px){

  .contact-page{
    padding:20px 12px;
  }

  .contact-box{
    padding:20px;
    border-radius:18px;
  }

  .contact-box h1{
    font-size:25px;
  }

  .contact-box p{
    font-size:14px;
  }

  input,
  select,
  textarea{
    font-size:14px;
    padding:11px 12px;
    border-radius:10px;
  }

  button{
    font-size:15px;
    border-radius:10px;
  }
}