@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
.footer-section{
  width:100%;
  margin:0;
  padding:60px 0;
  position:relative;
  overflow:hidden;
  background:transparent;
}

/* Remove Bootstrap Container Width */
.footer-section .container-fluid{
  width:100% !important;
  max-width:100% !important;
  padding-left:0 !important;
  padding-right:0 !important;
  margin:0 !important;
}

.footer-section .row{
  padding-left:40px;
  padding-right:40px;
}

.footer-link{
  color: rgb(240, 209, 8);
  text-decoration: none;
  font-weight: 500;
  
}

.footer-link:hover{
  color: #ffd700;
  text-decoration: underline;
}
.footerlink{
  color: rgb(8, 240, 232);
  text-decoration: none;  
  font-size: 15px;
  font-weight: 700;
}
.footerlink:hover{
  color: #d4bf1e;
}


@media(max-width:768px){
  .footer-section .row{
    padding-left:20px;
    padding-right:20px;
  }
}